/* src/components/ButtonComponent/Button.module.css */
.button {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    /* Add additional styles as needed */
  }
  
  .icon {
    width: 20px;
    height: 20px;
  }
  
  .title {
    font-size: 14px;
    color: #252c32;
  }
  